/* hsl(113, 19%, 79%) card background */

/* 
=============
Typography
=============
*/

h2,
h3 {
    letter-spacing: 1.5px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.title-lymf-priser,
.title-massage-priser {
    font-size: .625rem;
    font-weight: 900;
}

.utbildningar {
    letter-spacing: 1.35px;
}

h5 {
    margin: 0;
}

.about-article-main-title {
    margin: 0;
}

.about-article-title {
    color: #e78182;
}

.about-price-card {
    font-size: 14px;
    text-align: center;
}

.about-price-title {
    margin-bottom: 1em;
}

.about-secondary-title {
    margin-bottom: 3em;
    padding-bottom: .5em;
    border-bottom: 2px solid #ebebeb;
    color: #e78182;
    font-size: 25px;
}

/* .price-card-body {
    font-size: .75rem;
} */

@media (max-width: 350px) {
    .about-secondary-title {
        font-size: 20px;
    }
}

/* 
=============
Layout
=============
*/


/* 
=============
Navigation
=============
*/



/* 
=============
Articles
=============
*/

.article-about-featured {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10em;
}

.about-left-column {
    width: 50%;

    margin-bottom: 3em;
}

.about-right-column {
    width: 40%;
}

.secondary-article-about-body {
    margin-bottom: 3em;
    width: 75%;
}

.about-price-body {
    margin: 0;
}

.about-ring {
    margin: 0 0 2em;
}

.secondary-article {
    margin-bottom: 3em;
}

.secondary-article-holder {
    display: flex;
    justify-content: space-between;
}

.secondary-article-col1 {
    width: 50%;
}

.secondary-article-col2 {
    width: 40%;
    order: -1;
}

.secondary-article-img {
    border-radius: 50%;
}

.about-right-column{
    width: 35%;
}

@media (max-width: 780px) {
    .secondary-article-holder {
        justify-content: space-between;
    }

    

    .secondary-article-about-body {
        width: 100%;
    }


}

@media (max-width: 650px) {
    .secondary-article-holder {
        flex-direction: column;
    }

    .secondary-article-col1 {
        width: 100%;
    }

    .secondary-article-col2 {
        width: 75%;
        margin: 0 auto;
    }

    .article-about-featured {
        flex-direction: column;
    }

    .about-left-column,
    .about-right-column {
        width: 100%;
    }


}

@media (max-width: 400px) {
    .secondary-article-col2 {
        width: 100%;
    }
}
/* 
=============
Cards
=============
*/

.about-price-card {
    background: hsl(113, 19%, 79%);
    padding: 3em 2em;
}

@media (max-width: 850px) and (min-width: 651px){

    .secondary-article-holder {
        flex-direction: column;
    }

    .secondary-article-col1 {
        width: 100%;
    }

    .secondary-article-col2 {
        width: 75%;
        margin: 0 auto;
    }

    .article-about-featured {
        flex-direction: column;
    }

    .about-left-column,
    .about-right-column {
        width: 100%;
    }

    /* .price-card-flex {
        display: flex;
        justify-content: space-around;
    } 

    .lymf-tider-priser {
        width: 40%;
    }

    .massage-tider-priser {
        width: 40%;
    } */

}



/* 
=============
Aside
=============
*/
