/* 
===========
Typography
===========
*/

.article-lymf-title,
.lymf-subtitle  {
    margin: 0;
}


/* 
===========
Articles
===========
*/

.article-lymf-featured {
    margin-bottom: 5em;
}

.article-lymf-title {
    font-size: 3.5rem;
    font-weight: 400;
}


.lymf-subtitle {
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #6d97d4;
}
@media (max-width: 510px) {
    .article-lymf-title {
        font-size: 2rem;
    }

    .lymf-subtitle {
        font-size: .9rem;
        font-weight: 600;
    }
}

span {
    color: #e78182;
}


.container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    grid-template-rows: masonry;
}

img {
    max-width: 100%;
}

.item2 {
    grid-row: 2 / -2;
}