/* 
===========
Typography
===========
*/

.article-lymf-title,
.lymf-subtitle  {
    margin: 0;
}

.article-lymf-title {
    font-size: 3.5rem;
    font-weight: 400;
}


.lymf-subtitle {
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #6d97d4;
}
@media (max-width: 510px) {
    .article-lymf-title {
        font-size: 2rem;
    }

    .lymf-subtitle {
        font-size: .9rem;
        font-weight: 600;
    }
}

span {
    color: #e78182;
}









.container-grid {
    /* background: firebrick; */
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows:  masonry;
    margin-bottom: 5em;
    gap: 1rem;
}

.lymf-grid-itm-1 {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}


.lymf-grid-itm-2 {
}